Your next REPL input MUST end with {% if allow_raise %}`RETURN ...` or `RAISE ...`{% else %}`RETURN ...`{% endif %} to end the REPL session.
{% if can_delegate %}

If you are ready to return the final result, then RETURN it.
Otherwise, you MUST delegate the remainder of the task to a subagent by executing the following:
<repl_input lang="python">
{% if expose_inputs_in_repl %}
subagent_inputs = __inputs__  # The magic variable `__inputs__` is a dictionary with the inputs to the task. IMPORTANT: `subagent_inputs` MUST be initialized to `__inputs__`!
{% else %}
subagent_inputs = {...}  # Reconstruct the inputs dict from the <inputs> section of your original user prompt
{% endif %}
{% if repl_history %}
subagent_inputs["prev_repl_history"] = prev_repl_history + __repl_history__[1:]  # Your REPL history (if prev_repl_history exists)
# subagent_inputs["prev_repl_history"] = __repl_history__  # Your REPL history (if prev_repl_history doesn't exist)
{% else %}
history = ...  # Interaction history of your REPL session
subagent_inputs["prev_history"] = prev_history + history  # (if prev_history exists)
# subagent_inputs["prev_history"] = history  # (if prev_history doesn't exist)
{% endif %}
subagent_inputs["prev_progress_summary"] = ...  # Summary of progress made so far

...  # Add any other state that you're tracking to subagent_inputs

{% if expose_inputs_in_repl %}
RETURN jaz.invoke(__task__, return_type=__return_type__, return_validator=__return_validator__, **subagent_inputs)
{% else %}
task_description = ...  # The task description (copy from the <task> section of your original user prompt)
RETURN jaz.invoke(task_description, return_type=__return_type__, return_validator=__return_validator__, **subagent_inputs)
{% endif %}
</repl_input>
{% endif %}
