Your next REPL input MUST end with {% if allow_raise %}`RETURN ...` or `RAISE ...`{% else %}`RETURN ...`{% endif %} to end the REPL session.
{% if can_delegate %}

If you are ready to return the final result, then RETURN it.
Otherwise, you MUST delegate the remainder of the task to a subagent by executing the following:
<repl_input lang="python">
{% if expose_inputs_in_repl %}
subagent_inputs = __inputs__  # The magic variable `__inputs__` is a dictionary with the inputs to the task. IMPORTANT: `subagent_inputs` MUST be initialized to `__inputs__`!
{% else %}
subagent_inputs = {}
{% endif %}
{% if repl_history %}
# Interaction history of your REPL session can be any of the following:
# - an object you've been using to keep track of history (if you've been doing that)
# - __repl_history__, which is a magic variable you have access to that contains your REPL history
{% if expose_inputs_in_repl %}
    - `__repl_history__[0]` contains initialization info:
      - `.task`: Same as `__task__`
      - `.inputs`: Same as `__inputs__`
{% endif %}
    - `__repl_history__[N]` (for N >= 1) contains iteration N's results:
      - `.repl_input`: The source code executed in iteration N
      - `.repl_output`: The printed output from iteration N
      - `.error`: The error summary (str) if iteration N failed, else None
# - the result of processing __repl_history__ (e.g. filtering it to only include the REPL outputs)
history = ...
{% else %}
history = ...  # Interaction history of your REPL session
{% endif %}
subagent_inputs["prev_history"] = prev_history + history  # (if prev_history exists)
# subagent_inputs["prev_history"] = history  # (if prev_history doesn't exist)
subagent_inputs["prev_progress_summary"] = ...  # Summary of progress made so far

...  # Add any other state that you're tracking to subagent_inputs

{% if expose_inputs_in_repl %}
RETURN jaz.invoke(__task__, return_type=__return_type__, return_validator=__return_validator__, **subagent_inputs)
{% else %}
task_description = ...  # The task description (copy from the <task> section of your original user prompt)
RETURN jaz.invoke(task_description, return_type=__return_type__, return_validator=__return_validator__, **subagent_inputs)
{% endif %}
</repl_input>
{% endif %}
