{% if output_truncated %}
*Note:* Printed output was truncated; the magic variable `__repl_history__[{{ iteration - 1 }}].repl_output` holds the string with the full output and you can inspect it by applying string operations such as searching and slicing.
{% endif %}
